.boton-contenedor {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #1b1b32;
  color: white;
  border-radius: 10px;
  border: 2px solid rgb(110, 194, 236);
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.boton-contenedor:hover {
  background-color: #0167a7;
}

.operador {
  background-color: #00471b;
}

.operador:hover {
  background-color: rgb(223, 249, 92);
}